/* gold (#FFD700), purple (#800080), red (#FF0000), tan (#D2B48C), blue (#0000FF) */
/* Body Style */
html, body{
    height: 100%;
    margin: 0;
    background-color: #000000;
}
body{
    display: flex;
    flex-direction: column ;
}

main{
    flex:1;
}
/* Body Style */

/* Header/Footer Style */
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
} 

.navbar .logo{
   padding: 0;
}

.nav-links{
    display: flex;
    flex:1;
    justify-content: space-evenly;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.navbar img{
    height: 50px;
}

.nav-links a{
    flex: 1;                 /* each link gets equal width */
    text-align: center;      /* center text inside */
    display: block;          /* full clickable area */
    padding: 12px 0;         /* vertical click space */
}

.nav-links a.about-me:hover, .nav-links a.email:hover{
    font-weight: bolder;
    color: gray;
    background-color: #FFD700;
}

.nav-links a.work-experience:hover, .nav-links a.phone-number:hover{
    font-weight: bolder;
    color: gray;
    background-color: #800080;
}

.nav-links a.personal-projects:hover, .nav-links a.copyright:hover{
    font-weight: bolder;
    color: gray;
    background-color: #FF0000;
}

.nav-links a.hands-on-skill:hover, .nav-links a.linkedin:hover{
    font-weight: bolder;
    color: gray;
    background-color: #D2B48C;
}

.nav-links a.education-details:hover, .nav-links a.github:hover{
    font-weight: bolder;
    color: gray;
    background-color: #0000FF;
}

/* Header/Footer Style */

/* gold (#FFD700), purple (#800080), red (#FF0000), tan (#D2B48C), blue (#0000FF) */

/* Body Content Style */
.content{
    color: gray;
}
/* Body Content Style */


