/* gold (#FFD700), purple (#800080), red (#FF0000), tan (#D2B48C), blue (#0000FF) */
/* Body Style */
html, body{
    height: 100%;
    margin: 0;
    background-color: #121212;
    
}
body{
    display: flex;
    flex-direction: column ;
    padding: 25px;
    box-sizing: border-box;
}

main{
    flex:1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

header, footer{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}
/* Body Style */

/* Header/Footer Style */
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
} 

.navbar .logo{
   padding: 0;
}

.nav-links{
    display: flex;
    flex:1;
    justify-content: space-evenly;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.navbar img{
    height: 50px;
}

.nav-links a{
    flex: 1;                 
    text-align: center;      
    display: block;          
    padding: 12px 0;         
    cursor: pointer;       
}

.nav-links a.about-me:hover, .nav-links a.about-me.active{
    font-weight: 600;
    color: #FFD700;
    background-color: #2C2C2C;
}

.nav-links a.work-experience:hover, .nav-links a.work-experience.active{
    font-weight: 600;
    color: #800080;
    background-color: #2C2C2C;
}

.nav-links a.personal-projects:hover, .nav-links a.personal-projects.active{
    font-weight: 600;
    color: #FF0000;
    background-color: #2C2C2C;
}

.nav-links a.hands-on-skill:hover, .nav-links a.hands-on-skill.active{
    font-weight: 600;
    color: #D2B48C;
    background-color: #2C2C2C;
}

.nav-links a.education-details:hover, .nav-links a.education-details.active{
    font-weight: 600;
    color: #0000FF;
    background-color: #2C2C2C;
}

.nav-links a.email:hover, .nav-links a.phone-number:hover, .nav-links a.copyright:hover, 
.nav-links a.linkedin:hover, .nav-links a.github:hover{
    font-weight: 600;
    background-color: #2C2C2C;
}
/* Header/Footer Style */

/* gold (#FFD700), purple (#800080), red (#FF0000), tan (#D2B48C), blue (#0000FF) */
/* #1E1E1E or #2C2C2C */
/* Body Content Style */
.content{
    color: white;
}
/* Body Content Style */



