/* gold (#FFD700), purple (#800080), red (#FF0000), tan (#D2B48C), blue (#0000FF) */
/* Body Style */
html, body{
    height: 100%;
    margin: 0;
    background-color: #121212;
    
}
body{
    display: flex;
    flex-direction: column ;
    /* padding: 25px; */
    box-sizing: border-box;
}

main{
    flex:1;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: clamp(15px, 2.5vw, 18px);
    line-height: 1.6;
    padding: 25px;
}

header{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    padding: 0 25px 0 25px;
}

footer{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    padding: 0 25px 0 25px;
}
/* Body Style */
.nav-links a.menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  header .navbar {
    flex-direction: column;    
    align-items: stretch;
  }

  header .nav-links {
    flex-direction: column;    
  }

  header .nav-links a:not(.logo):not(.menu) {
    display: none;
  }

  header .nav-links a.menu {
    display: flex;              /* makes it visible */
    align-items: center;
    justify-content: center;
    min-width: 44px;            /* touch-friendly */
    height: 44px;
    cursor: pointer;
  }
  
  header .nav-links.show a:not(.logo):not(.menu) {
    display: block;
  }

}

.navbar .nav-links{
  border: 1px solid rgba(255, 255, 255, 0.06);
}
/* Header/Footer Style */
.navbar{
    display: flex; 
    align-items: center;
    width: 100%;
} 

.navbar .logo{
   padding: 0;
}

.nav-links{
    display: flex;
    flex:1;
    justify-content: space-evenly;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.navbar img{
    height: 66px;
}

.nav-links a{
    flex: 1;                 
    text-align: center;      
    display: block;          
    padding: 12px 0;         
    cursor: pointer;       
}

.nav-links a.about-me:hover{
    font-weight: 600;
    color: #FFD700;
    background-color: #2C2C2C;
}

.nav-links a.work-experience:hover{
    font-weight: 600;
    color: #800080;
    background-color: #2C2C2C;
}

.nav-links a.personal-projects:hover{
    font-weight: 600;
    color: #FF0000;
    background-color: #2C2C2C;
}

.nav-links a.hands-on-skill:hover{
    font-weight: 600;
    color: #D2B48C;
    background-color: #2C2C2C;
}

.nav-links a.education-details:hover{
    font-weight: 600;
    color: #0000FF;
    background-color: #2C2C2C;
}

.nav-links a.about-me.active{
    font-weight: 800;
    color: #FFD700;
}

.nav-links a.work-experience.active{
    font-weight: 800;
    color: #800080;
}

.nav-links a.personal-projects.active{
    font-weight: 800;
    color: #FF0000;
}

.nav-links a.hands-on-skill.active{
    font-weight: 800;
    color: #D2B48C;
}

.nav-links a.education-details.active{
    font-weight: 800;
    color: #0000FF;
}



.nav-links a.logo:hover, .nav-links a.location:hover, .nav-links a.email:hover, .nav-links a.phone-number:hover, 
.nav-links a.copyright:hover, .nav-links a.linkedin:hover, .nav-links a.github:hover{

    background-color: #2C2C2C;
}
/* Header/Footer Style */

/* gold (#FFD700), purple (#800080), red (#FF0000), tan (#D2B48C), blue (#0000FF) */
/* #1E1E1E or #2C2C2C */
/* Body Content Style */
.content{
    color: white;
}

.headlines p{
    font-size: 50px;
}

.j{
    color: #FFD700;
}
.a1{
    color: #800080;
}
.m{
    color: #FF0000;
}
.a2{
    color: #D2B48C;
}
.l{
    color: #0000FF;
}
/* Body Content Style */



